*{
    margin: 0;
}
/* --------------------------------Start Page------------------------- */
.starter-page{
    height: 100vh;
    background-color: #36453B;
}

.intro{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    color: #F5F9E9;
    padding-left: 20px;
    padding-right: 20px;
    height: 80vh;
    font-size: 18px;

}

.profile{
    width: 70%;
    border-radius: 50%;

}
.left{
    color: #C2C1A5;
    margin: 5px;
    padding: 10px;
}

.heading-1 {
    font-size: large;
    margin-bottom: 10px;
    padding: 5px;
}

.profession, .know-me-container{
    font-size: medium;
    margin-bottom: 10px;
    padding: 5px;



}
.name-span{
    font-size: 32px;
    color: #F5F9E9;
}

.here{
    /* height: 10vh; */
    background-color: #C2C1A5;
    color: #36453B;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* bottom: 0; */
    opacity: 70%;
    color: #280003;
    box-shadow: 2px 3px 10px #EEE0CB;

    
}
.down-icon{
    width: 40px;
}

/* ----------------------------Main Container------------------------ */

.main-container{
    min-height: 100vh;
    background-color: #515751;
}
.menu{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #848586;
    display: none;
    height: 40px;
    opacity: 70%;

}
.menu-icon{
    display: flex;
    left: 0;
    width: 40px;

}

.navbar{
    position: sticky;
    top: 0;
    z-index: 999;

    width: 100%;

    background-color: #848586;

    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    opacity: 70%;


}

.left-elements, .right-elements{
    list-style: none;
    display: flex;
    gap: 20px;

    
}
.right-elements{
    justify-content: center;

}
.nav-e{
    text-decoration: None;
    font-size: 24px;
    color: #280003;

}
.nav-e:hover{
    color:  #FDFFFC;
    text-shadow: none;
    background-color: #36453B;
    padding: 10px;



}

.nav-e{
    cursor: pointer;
}
/* About */
.about-wrapper{
    display: flex;
    justify-content: center;
}
.about-container{

   margin: 30px auto;
   padding: 30px;
   width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 3px 5px 10px black;



    background-color: #596869;
    opacity: 80%;
    color:  #F5F9E9;
    border-radius: 8px;;
    font-size: 16px;
     
    
}
.about-heading{
    /* background-color: #baa898; */
    /* color: black; */
    font-size: 32px;
    align-self:center ;
    color: #F5F9E9;

    font-weight: 800;

}
.about-info{
    width: 70%;
    margin-top: 20px;;
}
.about-para{
    text-align: justify;
    padding: 10px;

}

.about-images{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.abt-img{
    width: 200px;
    box-shadow: 3px 4px 5px whitesmoke;
}

.about-pics-header{
    display: flex;
    margin-top: 20px;
     margin-bottom: 20px;
    justify-content: center;
    
}

/* Research Wrapper */
.research-wrapper{
    display: flex;
    justify-content: center;
    background-color: #C2C1A5;
}

.statement-section{

    margin: 30px auto;
    padding: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 10px black;

 
 
 
     background-color: #36453B;
     opacity: 80%;
     color:  #C2C1A5;
     border-radius: 5px;
     font-size: 16px;
      
     
 }


.statement-heading{
    /* background-color: #baa898; */
    /* color: black; */
    font-size: 32px;
    align-self:center ;
    font-weight: 800;
    margin-bottom : 20px;
    color: #F5F9E9;

}

.statement-para{
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;

}

.pro, .bbc{
    color: black;
    font-weight: 700;
}


/* Skills */

.skills-wrapper{
    display: flex;
    justify-content: center;
}

.skills-container{
    background-color: #F1E4F3;
    /* margin: 10px auto; */
    margin-bottom: 0px;
    padding: 20px;
    color: #BFC0C0;
    width: 100%
}


.skills-header{
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-bottom: 30px;
    color: black;

}

.skills-content{

   margin: 30px auto;
   padding: 30px;
   width: 70%;
    width: 70%;
    background-color: #734B5E;
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    color: #FBF7F4;
    border-radius: 5px;;
    box-shadow: 2px 2px 3px #9A98B5;

}

.skill{
    /* border: 2px solid #52B2CF; */
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    box-shadow: 2px 2px 3px #D6D2D2;
}

.skill:hover{
    font-size: 16px;
    background-color: #9A98B5;
    opacity: 70%;
    color: #DFFDFF;
}

/* Experience */


.experience-wrapper{
    display: flex;
    justify-content: center;
}

.experience-container{
    background-color: #515751;
    /* margin: 10px auto; */
    margin-bottom: 0px;
    padding: 20px;

    color: #b4b6b6;
    width: 70%;
    display: flex;
    flex-direction: column;
}


.experience-header{
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-bottom: 30px;
    color: #F5F9E9;

}
.experience-i{
    padding: 50px;
    background-color: #F5F9E9;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.e-right{
    align-self: self-end;
}
.e-left{
    align-self: self-start;

}
.exp-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.position{
    font-size: 16px;

    font-weight: 800;
    color: #280003;
}


/* News */
.news-wrapper{
    display: flex;
    justify-content: center;

}

.news-container{
    background-color: #002500;
    /* margin: 10px auto; */
    padding: 20px;
    color: #BFC0C0;
    /* width: 90%; */
    padding-right: 50px;
    padding-left: 50px;

}
.news-header{
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-bottom: 0px;
    color: #F5F9E9;
    margin-bottom: 30px;

}

.news-i{
    display: grid;

    grid-template-columns: 1fr 4fr;
    margin-bottom: 20px;

}

/* Publications */

.publication-wrapper{
    display: flex;
    justify-content: center;

}

.publication-container{
    background-color: #C2C1A5;
    /* margin: 10px auto; */
    padding: 20px;
    color: #BFC0C0;
    /* width: 90%; */
    padding-right: 50px;
    padding-left: 50px;

}
.publication-header{
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-bottom: 0px;
    color: #F5F9E9;
    margin-bottom: 30px;

}

.publication-content{

    margin-bottom: 20px;
    color: #002500;
    font-size: 16px;

}

/* projects */

.project-wrapper{
    display: flex;
    justify-content: center;

}
.project-container{
    background-color: #BFC0C0;
    /* margin: 10px auto; */
    padding: 20px;
    color: #BFC0C0;
    /* width: 90%; */

}

.project-header{
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-bottom: 0px;
    color: #596869;

}

.project-deets{
    font-size: small;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-bottom: 30px;
    color: black;
}

.project{
    display: flex;;
    flex-direction: column;
    gap: 20px;
    background-color: #210F04;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 30px;
}
.project-heading{
    font-size: 24px;
    cursor: pointer;

}
.project-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-image{
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-link{
    margin-top: 10px;;
}

.project-a:hover{
    color: #E5E1EE;
}
.project-a{
    text-decoration: none;
    color: #DFFDFF;
    margin-top: 10px;
}
.project{
    width: 60%;
}
.p-right{
    float: right;
    background-color: #929982;
    color: #002500;
}
.p-left{
    background-color: #36453B;
}

.end-notes{
    background-color: #BFC0C0;
    display: flex;
    align-items: center;
    padding: 10px;
    
    /* float: right; */
}

/* Contact */


.contact-wrapper{
    display: flex;
    justify-content: center;
}

.contact-container{
    background-color: #002500;
    /* margin: 10px auto; */
    margin-bottom: 0px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    color: #b4b6b6;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.social{
    display: flex;
    justify-content: center;
}

.s:hover{
    transform: scale(1.1);
}



/* Media Queries */

@media (max-width: 600px){

    /* body{
        display: grid;
        grid-template-columns: 1fr 7fr;
    } */

    .intro{
        height: 70vh;
    }

    .heading-1, .profession{
        font-size: 14px;;
    }

    .name-span{
        font-size: 24px;
    }
    .menu{
        display: block;

    }

    .menu:hover{
        cursor: pointer;
    }

    .navbar{
        top: 40px;
        display: none;
        opacity: 70%;

    }

    .left-elements, .right-elements{
        list-style: none;
        display: flex;
        flex-direction: column;

        /* gap: 20px; */
    
        
    }

    .nav-e{
        color: black;
    }
    .right-elements{
        padding-top: 20px;;
        justify-content: left;
    
    }
    .here{
        box-shadow: none;
    }

    /* About */

    .about-container{

        margin: 10px auto;
        padding: 5px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 3px 5px black;
     
     
     
         /* background-color: #280003; */
         opacity: 80%;
         /* color:  #baa898; */
         border-radius: 8px;;
        font-size: 12px;

          
         
     }

     .about-heading{
        font-size: 24px;
    
    }

    .about-info{
        width: 100%;
        margin-top: 10px;;
    }
    .about-para{
        text-align: justify;
        padding: 10px;
    
    }
    
    .about-images{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .abt-img{
        width: 100px;
        box-shadow: 3px 4px 5px whitesmoke;
    }
    
    .about-pics-header{
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        
    }

    /* Research Wrapper */

.statement-section{

    width: 80%;
      
     
 }


.statement-heading{
    /* background-color: #baa898; */
    /* color: black; */
    font-size: 24px;

}

.statement-para{
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;


}


    /* Experience */


    
    .experience-container{
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
    
    }
    
    
    .experience-header{
        font-size: 24px;
    
    }
    .experience-i{
        padding: 30px;
        background-color: white;
        width: 80%;
        height: auto;

        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-size: 12px;

        
    }
    
    .e-right{
        align-self:center;
    }
    .e-left{
        align-self: center;
    
    }
    .exp-left{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .position{
        font-size: 16px;
    
        font-weight: 800;
        color: #280003;
    }

    /* News */

    .news-wrapper{
        display: flex;
        justify-content: center;
    
    }
    
    .news-container{
        background-color: #002500;
        /* margin: 10px auto; */
        padding: 20px;
        color: #BFC0C0;
        /* width: 90%; */
        padding-right: 50px;
        padding-left: 50px;

    
    }
    .news-header{
        font-size: 24px;
    }
    
    .news-i{
        display: grid;
    
        grid-template-columns: 2fr 4fr;
        margin-bottom: 10px;
        font-size: 12px;
    
    }
    /* Publication */

    .publication-header{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .publication-content{

    
        font-size: 12px;
        margin-bottom: 10px;
    
    }


    /* Skills */

    
    .skills-container{
        padding: 10px;
    }
    
    
    .skills-header{
        font-size: 24px;
    
    }
    
    .skills-content{
    
       margin: 20px auto;
       padding: 20px;
       width: 80%;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    
    }
    
    .skill{
        /* border: 2px solid #52B2CF; */
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 10px;
        box-shadow: 2px 2px 3px #D6D2D2;
    }
    

    

    /* Projects */

    .project-wrapper{
        display: flex;
        justify-content: center;
    
    }

    
    .project-header{
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-self:center;
        margin-bottom: 30px;
        width: 100%;

    
    }
    
    .project{
        display: flex;;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border-radius: 2px;
        margin-bottom: 30px;
        width: 90%;
    }
    .project-heading{
        font-size: 18px;
        cursor: pointer;
    
    }
    .project-content{
        display: flex;;
        flex-direction: column-reverse;
        font-size: 12px;

    }
    .p-image{
        /* height: 200px; */
        width: 100%;
        height: auto;
        align-self: center;
        margin-bottom: 10px;
    }
    .project-link{
        margin-top: 10px;;
    }
    

    .project-a{
        margin-top: 10px;
    }
    .p-right{
        float: none;
    }
    
    



}